<!DOCTYPE html>
<html>
<head>
	<title>Rail0cafe</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render :partial => "common/head" %>
		<div class="inner wrap">
			<div class="sidebar">
				<%= yield :banner %>
			</div>
			<div class="content body">
			<%= yield %>
			</div>
		</div>
	</div>
	<%= render :partial => "common/footer" %>
</body>
</html>
